@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --color-light-50: aliceblue;
    --color-light-100: rgb(181, 188, 193);

    --color-dark-900: black;

    --color-green-50: #4dff46;
    --color-green-100:#034400;

    --color-gradient: linear-gradient(74deg, rgba(0,0,0,1) 0%, rgba(77,255,70,1) 50%, rgba(3,68,0,1) 100%);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(/IMG/background.jpeg);
    background-repeat: no-repeat;
    color: var(--color-dark-900);
    font-weight: bold;
    background-attachment: fixed;
}

#cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    font-weight: 600;
}

#menu{
    display: flex;
    gap: 30px;
    padding-right: 25%;

}
#menu .menu_item:hover{
    color: var(--color-green-100);
    cursor: pointer;
}

/* main */

#main{
    margin-bottom: 48px;
}

#principal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 25%;
    height: 85vh;
}

#headline{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -10%;
}

#headline h1{
    color: var(--color-green-100);
    font-size: 50px;
}

#headline p{
    color: var(--color-dark-900);
    font-size: 15px;
}

#headline button{
    background-color: var(--color-green-100);
    color: var(--color-light-50);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.763);
    width: 200px;
    height: 40px;
}

#headline button:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* segunda seção */

#cadastro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 92vh;
    width: 100%; 
    background-color: #03440015;
}


#call h2{
    font-size: 30px; 
    font-weight: bolder;
    color: var(--color-green-100);
}

#call p{
    color: var(--color-dark-900);
    font-size: 15px;
    padding-top: 15px;
}

#inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input_field{
    display: flex;
    gap: 15px;
    padding: 3px;
    cursor: text;
    align-items: center;
    border-bottom: 2px solid var(--color-green-100);
    background-color: rgba(240, 248, 255, 0.413);
}

.input_field i{
    font-size: 18px;
    color: var(--color-dark-900);
}

.input_field input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 15px;
    padding: 0 5px;
    font-weight: bold;
}

.input_field input:focus{ /* tirar borda do input */
    outline: none;
}

#send_informations{
    background-color: var(--color-green-100);
    color: var(--color-light-50);
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.763);
    width: 280px;
    height: 40px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#send_informations:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;

}
/* footer */

footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-green-100);
    color: var(--color-light-50);
    font-weight: 100;
    font-size: 10px;
    justify-content: space-around;
}

#footer_content{
    position: relative;
    right: 10%;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-weight: 100;
    position: relative;
    right: 20%;
}

#principal, #cadastro{
    visibility: hidden;
}